**/cache/
*/cache/
foobar2000-v2/crash reports/
foobar2000-v2/foo_youtube/
foobar2000-v2/library/
foobar2000-v2/library-v2.0/
foobar2000-v2/nobadshutdown
foobar2000-v2/running
foobar2000-v2/index-data/
ExplorerPatcher/Update *